[submodule "hwloc"]
	path = hwloc
	url = https://github.com/pmodels/hwloc
[submodule "izem"]
	path = izem
	url = https://github.com/pmodels/izem
[submodule "ucx"]
	path = ucx
	url = https://github.com/pmodels/ucx
[submodule "libfabric"]
	path = libfabric
	url = https://github.com/ofiwg/libfabric
